In [10]:
import pandas as pd
import numpy as np

In [34]:
predict = pd.read_csv('predictions.csv')
predict.head()

   station_no       date  delta
0     6335050  4/17/1965     -1
1     6335050  4/18/1965      8
2     6335050  4/19/1965   1000
3     6335050   8/1/1965     11
4     6335050   8/2/1965      6

In [35]:
actual = pd.read_csv('true_values.csv')
actual.head()

   station_no        date  delta
0     6335050  1965-04-17   -2.0
1     6335050  1965-04-18    9.0
2     6335050  1965-04-19   65.0
3     6335050  1965-08-01   11.0
4     6335050  1965-08-02    6.0

In [36]:
predict_delta = np.array(predict.delta)
actual_delta = np.array(actual.delta)
actual_delta

array([  -2.,    9.,   65.,   11.,    6.,   -3.,   14.,    8.,   -7.,
         -6.,   10.,   13.,    3.,   12.,   17.,   -3.,   -8.,   -7.,
        -16.,  -21.,  -10.,   -9.,  -21.,  -34.,    3.,   11.,   27.,
         -5.,   -3.,   27.,   -6.,  -11.,  -13.,   -1.,  -11.,  -18.,
        -22.,  -30.,  -34.,   -9.,  -20.,  -20.,   33.,   39.,   22.,
        -13.,   10.,   27.,    0.,  -10.,  -19.,  -16.,  -22.,   -4.,
        -19.,  -22.,  -23.,    0.,   16.,   27.,  -14.,  -28.,  -36.,
          0.,   12.,   30.,   -3.,  -12.,  -17.,   -4.,   -3.,   10.,
         15.,   50.,   77.,  -12.,  -17.,  -19.,    8.,    2.,   -4.,
          0.,  -32.,  -64.,   13.,    8.,    9.,   -4.,   -7.,   -8.,
        -12.,  -28.,  -44.,   -8.,  -12.,  -15.,  -22.,  -33.,  -42.,
          0.,    3.,    4.,   -8.,  -16.,  -20.,   -6.,  -10.,  -11.,
          4.,   -3.,  -15.,   -2.,   12.,   39.,   14.,   31.,   45.,
         -8.,  -16.,  -16.,    2.,    6.,   10.,  -16.,  -26.,  -32.,
         12.,    0.,   -8.,  -15.,  -25.,  -29.,   -5.,  -10.,  -11.,
         20.,   24.,   29.,  -13.,  -27.,  -35.,   -2.,   -5.,   -1.,
        -23.,  -45.,  -69.,   -9.,  -13.,  -19.,   -1.,   -3.,   -9.,
         56.,  113.,  182.,   -7.,  -14.,  -19.,   -7.,  -10.,  -11.,
         23.,  -12.,  -63.,  -11.,  -22.,  -31.,   -6.,   -5.,   -8.,
         14.,   45.,   83.,  -10.,  -14.,  -18.,   -6.,  -11.,  -10.,
         -7.,   -9.,  -13.,  -19.,  -40.,  -66.,  -46., -138., -212.,
         -5.,  -11.,  -13.,   -3.,   -3.,   -1.,  -12.,  -17.,  -16.,
        -28.,  -65.,  -96.,   40.,   75.,   89.,   -5.,   -7.,   -2.,
        -13.,  -18.,  -19.,   20.,   34.,   35.,   -4.,  -10.,  -12.,
         11.,  -16.,  -47.,   -4.,  -10.,  -13.,   -6.,  -10.,  -14.,
         -7.,  -16.,  -20.,   37.,   41.,   29.,  -13.,  -29.,  -41.,
        -11.,  -19.,  -25.,  -37.,  -76., -101.,   -1.,   -7.,    0.,
        -21.,  -35.,  -37.,   -1.,   -2.,   -5.,   -7.,  -17.,  -26.,
         -1.,  -11.,  -19.,  113.,  234.,  280.,   -8.,  -16.,  -11.,
        -15.,  -29.,  -39.,   49.,   79.,  108.,   -2.,   -6.,   -7.,
         -5.,  -10.,  -12.,    6.,   16.,   21.,  -60., -110., -147.,
        -18.,  -32.,  -49.,  -20.,  -32.,  -41.,   -5.,    4.,   60.,
        -13.,  -26.,  -35.,   -6.,  -13.,  -14.,    7.,   31.,   34.,
         -2.,  -46., -117.,  -16.,  -28.,  -38.,    6.,    8.,   10.,
          1.,    0.,  -12.,  -12.,  -28.,  -47.,  -18.,  -21.,  -18.,
        -11.,  -31.,  -46.,   -7.,  -15.,  -24.,    4.,    0.,   -4.,
        -12.,  -24.,  -20.,   42.,   56.,   40.,    4.,    9.,   19.,
         -8.,  -16.,  -22.,   -3.,   -6.,   -9.,  -10.,  -22.,  -34.,
         -1.,   -3.,   -6.,   -8.,  -15.,  -15.,   31.,   12.,  -31.,
        -49.,  -81.,  -99.,   14.,   41.,   40.,  -12.,  -19.,  -20.,
          3.,   -7.,  -14.,   -7.,   -5.,   -9.,  -19.,  -36.,  -43.,
          1.,   32.,   65.,   30.,   49.,   57.,   -6.,  -19.,  -32.,
        137.,  215.,  190.,   -2.,  -33.,  -12.,   34.,   61.,   58.,
         15.,   30.,   73.,  -43., -118., -210.,    4.,    6.,    7.,
         -7.,  -12.,  -19.,  -12.,  -22.,  -28.,   -4.,   -4.,   -1.,
         -8.,  -18.,  -21.,   -8.,  -17.,  -26.,   -1.,   31.,   95.,
         -8.,    4.,   17.,   18.,   19.,    7.,    4.,    6.,   26.,
        -31.,  -58.,  -82.,  -11.,  -23.,  -38.,  -15.,  -30.,  -41.,
         -2.,    6.,    6.,   13.,   34.,   48.,  -10.,    0.,   39.,
        -41.,  -94., -154.,    3.,    0.,  -13.,   -5.,   -3.,    6.,
         -8.,   -1.,    2.,   23.,  137.,  165.,   -3.,   11.,   32.,
        -10.,  -17.,  -23.,   68.,  148.,  148.,  -12.,  -24.,  -33.,
         33.,   63.,   69.,   32.,   74.,   85.,   -9.,  -11.,  -16.,
         15.,   11.,    5.,    1.,   -7.,  -14.,   83.,  110.,   98.,
        -11.,  -18.,  -17.,    2.,    8.,    2.,  -17.,  -33.,  -47.,
          2.,   19.,   79.,    9.,   -1.,   -4.,   11.,   -3.,  -19.,
          2.,   18.,   15.,    6.,   14.,   17.,   -5.,   -4.,   -5.,
        -15.,  -16.,    2.,  -11.,  -21.,  -30.,    7.,   27.,   29.,
         -5.,    7.,   38.,   -2.,   -7.,   -8.,   -9.,  -21.,  -27.,
        -20.,  -27.,  -36.,  -10.,  -19.,  -16.,   25.,   29.,    6.,
         -4.,   22.,   28.,   -2.,  -18.,  -33.,  -19.,  -24.,    7.,
        -16.,  -13.,  -17.,    7.,   27.,   34.,  -16.,  -28.,  -35.,
          2.,   21.,   31.,   -5.,  -14.,  -20.,   -4.,    1.,   12.,
         24.,   61.,   81.,  -13.,  -13.,  -16.,    3.,   -8.,  -17.,
        -12.,  -51.,  -87.,    6.,    4.,    6.,   -2.,   -2.,   -5.,
         -8.,  -22.,  -36.,   -8.,  -13.,  -17.,  -20.,  -30.,  -39.,
          2.,    4.,    2.,  -11.,  -16.,  -19.,   -6.,   -9.,  -10.,
          3.,  -11.,  -17.,    4.,   25.,   58.,   17.,   35.,   44.,
         -9.,  -14.,  -12.,    3.,    9.,   16.,  -14.,  -22.,  -29.,
         -4.,  -17.,  -22.,  -15.,  -22.,  -26.,   -8.,  -14.,   -6.,
         17.,   20.,   24.,  -14.,  -26.,  -35.,   -3.,   -6.,   -2.,
        -20.,  -42.,  -68.,   -7.,  -12.,  -18.,    0.,   -3.,  -11.,
         56.,  117.,  191.,   -8.,  -12.,  -18.,  -11.,  -12.,  -17.,
          2.,  -43.,  -93.,  -13.,  -23.,  -31.,   -3.,   -4.,   -5.,
         18.,   57.,   89.,  -10.,  -12.,  -17.,   -4.,   -9.,   -7.,
         -6.,   -6.,  -13.,  -20.,  -41.,  -67.,  -71., -163., -224.,
         -9.,  -12.,  -13.,    0.,    0.,    1.,   -8.,  -11.,   -9.,
        -32.,  -70., -102.,   43.,   75.,   79.,   -4.,   -2.,    1.,
        -10.,  -15.,  -16.,   24.,   31.,   33.,   -9.,  -15.,  -14.,
         -6.,  -38.,  -69.,   -6.,   -9.,  -17.,   -3.,   -7.,   -8.,
         -6.,  -13.,  -17.,   28.,   22.,    7.,  -18.,  -34.,  -41.,
        -10.,  -17.,  -15.,  -49.,  -76., -105.,   -8.,   -8.,    0.,
        -24.,  -37.,  -32.,    1.,    1.,   -4.,   -8.,  -17.,  -28.,
         -5.,  -16.,  -23.,  118.,  224.,  249.,   -9.,  -14.,   -9.,
        -15.,  -29.,  -38.,   32.,   58.,   82.,   -5.,   -8.,  -11.,
         -4.,   -6.,  -11.,   10.,   16.,   20.,  -58., -106., -138.,
        -16.,  -33.,  -44.,  -16.,  -27.,  -36.,   -4.,   18.,   84.,
        -15.,  -26.,  -36.,   -7.,  -11.,  -11.,    5.,   30.,   29.,
        -22.,  -73., -161.,  -13.,  -28.,  -29.,    2.,    4.,    5.,
         -2.,   -4.,  -18.,  -14.,  -31.,  -51.,  -14.,  -15.,  -10.,
        -15.,  -34.,  -48.,   -8.,  -15.,  -24.,    1.,   -4.,   -9.,
        -12.,  -22.,  -14.,   31.,   40.,   17.,    5.,   15.,   23.,
         -7.,  -16.,  -19.,   -5.,   -8.,  -14.,  -11.,  -22.,  -34.,
         -2.,   -3.,   -8.,  -10.,  -15.,  -13.,   13.,  -17.,  -64.,
        -46.,  -75.,  -93.,   22.,   44.,   33.,  -11.,  -14.,  -13.,
         -7.,  -14.,  -23.,   -5.,   -4.,   -5.,  -19.,  -33.,  -35.,
         10.,   45.,   71.,   32.,   47.,   51.,   -7.,  -21.,  -34.,
        140.,  180.,  133.,  -21.,  -43.,   -6.,   41.,   55.,   49.,
         16.,   36.,   91.,  -54., -134., -230.,    5.,    6.,    6.,
         -7.,  -13.,  -19.,  -10.,  -18.,  -24.,   -2.,   -2.,    4.,
         -8.,  -18.,  -19.,   -9.,  -16.,  -24.,    7.,   49.,  107.,
          0.,   14.,   26.,   17.,    7.,    2.,   -1.,    6.,   32.,
        -29.,  -55.,  -77.,  -11.,  -27.,  -39.,  -14.,  -27.,  -38.,
          3.,   11.,    6.,   20.,   42.,   52.,   -4.,   16.,   60.,
        -46., -102., -164.,    6.,   -1.,  -15.,   -3.,    2.,   15.,
         -2.,    7.,    9.,   49.,  162.,  162.,    3.,   23.,   42.,
         -9.,  -15.,  -22.,   86.,  143.,  127.,  -12.,  -24.,  -32.,
         33.,   59.,   59.,   40.,   73.,   77.,   -6.,   -8.,  -15.,
         13.,    3.,   -1.,   -5.,  -12.,  -18.,   82.,   89.,   65.,
        -10.,  -14.,  -11.,    7.,   11.,    7.,  -17.,  -33.,  -48.])

In [30]:
def get_values(y):
    y1, y2, y3 = [], [], []
    for i, y in enumerate(y):
        if i%3 == 0:
            y1.append(y)
        elif i%3 == 1:
            y2.append(y)
        else:
            y3.append(y)

    y1 = np.array(y1)
    y2 = np.array(y2)       
    y3 = np.array(y3)       

    return y1, y2, y3

In [38]:
def find_R2(Ypred, Yact):
    
    Y_mean = sum(Yact) / len(Yact)    

    y_a1, y_a2, y_a3 = get_values(Yact)
    y_p1, y_p2, y_p3 = get_values(Ypred)  
    
    Nr = sum((y_a1-y_p1)**2) + sum((y_a2-y_p2)**2) + sum((y_a2-y_p2)**2) 
    Dr = sum((y_a1-Y_mean)**2) + sum((y_a2-Y_mean)**2) + sum((y_a2-Y_mean)**2)     
    
    r2 = 1 - Nr/Dr
    
    return r2

In [39]:
find_R2(predict_delta, actual_delta)

0.9999980258964892